body{
  margin:0;
  padding:0;
}
.header{
  width:100% !important;
  height: 60px;
  background: url("../img/nav_back_bg_fd2505e.jpg");
}
.nav{
  justify-content:space-around;
  line-height: 60px;
}
.nav  a{
  text-decoration: none;
}
.nav span,.nav a{
  color:white;
}

